.container {
  width: 656px;
  height: 410px;
  position: relative;
  margin: -100px auto;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}

.container-1 {
	margin-top: 70px;
	z-index: 100;
}
/*.container-2 {
	z-index: 95;	
}
.container-3 {
	z-index: 90;
}
.container-4 {
	z-index: 85;
}
.container-5 {
	z-index: 80;
}
.container-6 {
	z-index: 75;
}
.container-7 {
	z-index: 70;
}
.container-8 {
	z-index: 65;
}
.container-9 {
	z-index: 60;
}
.container-10 {
	z-index: 55;
}
.container-11 {
	z-index: 50;
} */


.layer {
  width: 656px;
  height: 410px;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  background: white;
  -moz-box-shadow: 30px 30px 12px rgba(0,0,0,0.3);
  -webkit-box-shadow: 30px 30px 12px rgba(0,0,0,0.3);
  box-shadow: 30px 30px 12px rgba(0,0,0,0.3)
  opacity: 1;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
  -webkit-transform: rotateX( 75deg );
     -moz-transform: rotateX( 75deg );
       -o-transform: rotateX( 75deg );
          transform: rotateX( 75deg );
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}


.layer.flipped {
  -webkit-transform: rotateX( 0deg );
     -moz-transform: rotateX( 0deg );
       -o-transform: rotateX( 0deg );
          transform: rotateX( 0deg );
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale(1.5,1.5);
}	

.layer figure {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.transparentboxbehind {
  width: 99%;
  height: 500%;
  position: absolute;

}

.fl1 {
  background-image:url('Images/1.jpg');
  background-size: 100%;
}

.fl2 {
  background-image:url('Images/2.jpg');
  background-size: 100%;
}

.fl3 {
  background-image:url('Images/3.jpg');
  background-size: 100%;
}

.fl4 {
  background-image:url('Images/4.jpg');
  background-size: 100%;
}

.fl5 {
  background-image:url('Images/5.jpg');
  background-size: 100%;
}

.fl6 {
  background-image:url('Images/6.jpg');
  background-size: 100%;
}

.fl7 {
  background-image:url('Images/7.jpg');
  background-size: 100%;
}

.fl8 {
  background-image:url('Images/8.jpg');
  background-size: 100%;
}

.fl9 {
  background-image:url('Images/9.jpg');
  background-size: 100%;
}

.flLL1 {
  background-image:url('Images/b1.jpg');
  background-size: 100%;
}

.flLL2 {
  background-image:url('Images/b2.jpg');
  background-size: 100%;
}

section, footer, nav {
  display: block;
}

figure {
  margin: 0;
}

.doc #content {
  font-size: 14px;  
  line-height: 1.5em;
}

.doc #content blockquote {
  margin-left: 0;
  padding: 0.8em;
  background: #EEE;
  background: hsla( 0, 0%, 0%, 0.04 );
}

.doc #content img {
  border: 1px solid #CCC;
  display: inline-block;
}

.doc #content pre {
  font-size: 12px;
  line-height: 1.5em;
}



