
/* COOPER GOOGLE EARTH */
/* 
.cooper-google-earth {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -10;
}*/

.building {
  margin-top: 50px;
  transition: all 1s ease-in-out;

}

.container {
  width: 365px;
  height: 50px;
  position: absolute;
  overflow: visible;
  margin-left: -182px;
  left: 50%;
  
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}

.container-1 {
	z-index: 100;
}
.container-2 {
	z-index: 95;	
  margin-top: 40px;
  
}
.container-3 {
	z-index: 90;
  margin-top: 80px;
 
}
.container-4 {
	z-index: 85;
  margin-top: 120px;

}
.container-5 {
	z-index: 80;
  margin-top: 160px;

}
.container-6 {
	z-index: 75;
  margin-top: 200px;

}
.container-7 {
	z-index: 70;
  margin-top: 240px;

}
.container-8 {
	z-index: 65;
  margin-top: 280px;

}
.container-9 {
	z-index: 60;
  margin-top: 320px;

}
.container-10 {
	z-index: 55;
  margin-top: 360px;

}
.container-11 {
	z-index: 50;
  margin-top: 400px;
} 

.toggleMoveUp {
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
    -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

.toggleMoveDown {
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
    -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;

}

.layer {

  width: 365px;
  height: 205px;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  background: transparent;
  opacity: 1;

  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;

    -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;

    -webkit-transform: rotateX( 75deg );
     -moz-transform: rotateX( 75deg );
       -o-transform: rotateX( 75deg );
          transform: rotateX( 75deg );


  -webkit-box-shadow: 0 30px 30px -5px rgba(0,0,0,0.3);
      -moz-box-shadow: 0 30px 30px -5px rgba(0,0,0,0.3);
        box-shadow: 0 30px 30px -5px rgba(0,0,0,0.3);

}

.layer.unflipped {
  -webkit-animation-name: flipdown;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1; 
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes flipdown {
   0% {
    width: 730px;
    height: 410px;
    transition-property: height, width;
    animation-timing-function: linear;
    -webkit-transform: rotateX( 0deg );
    background-color: yellow;
   }
   
   50% {
    background-color: red;
    -webkit-transform: rotateX( 75deg ) translateY(-50px);         
   }

   100% {
   }

}


div.layer.flipped {
  -webkit-animation-name: flip;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1; 
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  
}

@-webkit-keyframes flip {
   0% {
    
    -webkit-transform: rotateX( 75deg );
   }
   
   50% {
    -webkit-transform: rotateX( 75deg ) translateY(50px);         
   }

   100% {
    width: 730px;
    height: 410px;
    transition-property: height, width;
    animation-timing-function: linear;
    -webkit-transform: rotateX( 0deg );
   }

}



.flippedBox {
  -webkit-animation-name: flippedBox;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1; 
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: linear;
  position: absolute;
  
}	

@-webkit-keyframes flippedBox {
   0% {
    animation-timing-function: ease;
   }

   50% {
    transition-property: left, margin-left, margin-top, padding-top;
    margin-top: -200px;
    margin-left: -375px;
    left: 50%;
    padding-top: 25%;
   }

   100% {
    z-index: 10000;
    margin-top: -200px;
    margin-left: -375px;
    left: 50%;
    padding-top: 25%;
   
   }

}

.unflippedBox {
  -webkit-animation-name: unflippedBox;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1; 
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: linear;
  position: absolute;

}

@-webkit-keyframes unflippedBox {
   0% {
    z-index: 10000;
    margin-top: -200px;
    margin-left: -375px;
    left: 50%;
    padding-top: 25%;
   }

   50% {
    
   }

   100% {
    
   
   }

}

.layer figure {

  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.transparentboxbehind {
  position: absolute;
  width: 100%;
  height: 100%;
}

.moveUp {
  margin-top: -30px;

}


figure {
  background-size: 99%;
  background-repeat: no-repeat;
  margin: 0;
}

section, footer, nav {
  display: block;
}










